In [3]:
import mysql.connector

In [110]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc78d16e1f0>

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [7]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [111]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
    database="mydatabase"
)
mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc78d833580>

In [10]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [11]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [14]:
mycursor.execute("CREATE TABLE if not exists customer (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [15]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [16]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [17]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [18]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

In [19]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [20]:
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
      print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [28]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

('John', 'Highway 21', 1)

In [31]:
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

In [32]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

In [33]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 10)

In [34]:
mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [35]:
mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )
mycursor.execute(sql, adr)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [36]:
mycursor = mydb.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [37]:
mycursor = mydb.cursor()
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [38]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)

In [39]:
# Start from position 3, and return 5 records:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)

In [117]:
def json_insert(table,myDictArr,cursor):
    for myDict in myDictArr:
        placeholders = ', '.join(['%s'] * len(myDict))
        columns = ', '.join(myDict.keys())
        sql = "INSERT INTO %s ( %s ) VALUES ( %s )" % (table, columns, placeholders)
        cursor.execute(sql,list(myDict.values()))
mydb.commit()

In [50]:
mycursor.execute("CREATE TABLE if not exists users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), fav int(255))")

In [115]:
mycursor = mydb.cursor()
userDict = [{ 'id': 1, 'name': 'John', 'fav': 154},
            { 'id': 2, 'name': 'Peter', 'fav': 154},
            { 'id': 3, 'name': 'Amy', 'fav': 155},
            { 'id': 4, 'name': 'Hannah', 'fav':165},
            { 'id': 5, 'name': 'Michael', 'fav':147}]
json_insert('users',userDict,mycursor)

In [42]:
mycursor.execute("CREATE TABLE if not exists products (id int(225), name VARCHAR(255) )")

In [116]:
prodDict = [{ 'id': 154, 'name': 'Chocolate Heaven' },
{ 'id': 155, 'name': 'Tasty Lemons' },
{ 'id': 156, 'name': 'Vanilla Dreams' }]
json_insert('products',prodDict,mycursor)