In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [10]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [11]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

The database exists.

In [12]:
mycol = mydb["customers"]

In [13]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

The collection exists.

In [14]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6103d626a14ffe07ebe4e98f

In [15]:

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6103d655a14ffe07ebe4e990'), ObjectId('6103d655a14ffe07ebe4e991'), ObjectId('6103d655a14ffe07ebe4e992'), ObjectId('6103d655a14ffe07ebe4e993'), ObjectId('6103d655a14ffe07ebe4e994'), ObjectId('6103d655a14ffe07ebe4e995'), ObjectId('6103d655a14ffe07ebe4e996'), ObjectId('6103d655a14ffe07ebe4e997'), ObjectId('6103d655a14ffe07ebe4e998'), ObjectId('6103d655a14ffe07ebe4e999'), ObjectId('6103d655a14ffe07ebe4e99a'), ObjectId('6103d655a14ffe07ebe4e99b')]

In [16]:

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('6103d5e8a14ffe07ebe4e98e'), 'name': 'John', 'address': 'Highway 37'}

In [18]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6103d5e8a14ffe07ebe4e98e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6103d626a14ffe07ebe4e98f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6103d655a14ffe07ebe4e990'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6103d655a14ffe07ebe4e991'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6103d655a14ffe07ebe4e992'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6103d655a14ffe07ebe4e993'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e994'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6103d655a14ffe07ebe4e996'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6103d655a14ffe07ebe4e997'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e998'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6103d655a14ffe07ebe4e999'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
for x in mycol.find({},{ "address": 1 }):
  print(x)

{'_id': ObjectId('6103d5e8a14ffe07ebe4e98e'), 'address': 'Highway 37'}
{'_id': ObjectId('6103d626a14ffe07ebe4e98f'), 'address': 'Lowstreet 27'}
{'_id': ObjectId('6103d655a14ffe07ebe4e990'), 'address': 'Apple st 652'}
{'_id': ObjectId('6103d655a14ffe07ebe4e991'), 'address': 'Mountain 21'}
{'_id': ObjectId('6103d655a14ffe07ebe4e992'), 'address': 'Valley 345'}
{'_id': ObjectId('6103d655a14ffe07ebe4e993'), 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e994'), 'address': 'Green Grass 1'}
{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'address': 'Sky st 331'}
{'_id': ObjectId('6103d655a14ffe07ebe4e996'), 'address': 'One way 98'}
{'_id': ObjectId('6103d655a14ffe07ebe4e997'), 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e998'), 'address': 'Park Lane 38'}
{'_id': ObjectId('6103d655a14ffe07ebe4e999'), 'address': 'Central st 954'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99a'), 'address': 'Main Road 989'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'address': 'Sideway 1633'}
{'_id': 1, 'address': 'Highway 37'}
{'_id': 2, 'address': 'Lowstreet 27'}
{'_id': 3, 'address': 'Apple st 652'}
{'_id': 4, 'address': 'Mountain 21'}
{'_id': 5, 'address': 'Valley 345'}
{'_id': 6, 'address': 'Ocean blvd 2'}
{'_id': 7, 'address': 'Green Grass 1'}
{'_id': 8, 'address': 'Sky st 331'}
{'_id': 9, 'address': 'One way 98'}
{'_id': 10, 'address': 'Yellow Garden 2'}
{'_id': 11, 'address': 'Park Lane 38'}
{'_id': 12, 'address': 'Central st 954'}
{'_id': 13, 'address': 'Main Road 989'}
{'_id': 14, 'address': 'Sideway 1633'}

In [25]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6103d655a14ffe07ebe4e998'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [26]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6103d655a14ffe07ebe4e992'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6103d655a14ffe07ebe4e997'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [27]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [28]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('6103d655a14ffe07ebe4e990'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6103d655a14ffe07ebe4e998'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6103d655a14ffe07ebe4e994'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6103d655a14ffe07ebe4e991'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6103d5e8a14ffe07ebe4e98e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6103d655a14ffe07ebe4e992'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6103d626a14ffe07ebe4e98f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6103d655a14ffe07ebe4e993'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e996'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6103d655a14ffe07ebe4e997'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6103d655a14ffe07ebe4e999'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [29]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('6103d655a14ffe07ebe4e999'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6103d655a14ffe07ebe4e997'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e996'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6103d655a14ffe07ebe4e993'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6103d655a14ffe07ebe4e995'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6103d626a14ffe07ebe4e98f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6103d655a14ffe07ebe4e992'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6103d5e8a14ffe07ebe4e98e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6103d655a14ffe07ebe4e991'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6103d655a14ffe07ebe4e99a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6103d655a14ffe07ebe4e994'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6103d655a14ffe07ebe4e998'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6103d655a14ffe07ebe4e990'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [30]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [31]:
myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [33]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

0  documents deleted.

In [34]:
mycol.drop()

In [35]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
#print "customers" after the update:
for x in mycol.find():
    print(x)