In [1]:
import pandas as pd

In [2]:
rivers=["ganga","yamuna","neil","brazos"]

In [3]:
aa = pd.Series(rivers)

In [4]:
newa = pd.Series(rivers,index=['a','b','c','d'])

In [5]:
#Array
import numpy as np

In [6]:
a=np.random.rand(5)
a

array([0.33603983, 0.62747488, 0.85236194, 0.9385571 , 0.59411939])

In [7]:
pd.Series(a)

0    0.336040
1    0.627475
2    0.852362
3    0.938557
4    0.594119
dtype: float64

In [8]:
pd.Series(a,index=['arr1','arr1','arr1','arr1','arr1'])

arr1    0.336040
arr1    0.627475
arr1    0.852362
arr1    0.938557
arr1    0.594119
dtype: float64

In [9]:
data={'a':0,'b':1,'c':2,'d':3}
pd.Series(data)

a    0
b    1
c    2
d    3
dtype: int64

In [10]:
c=pd.Series(data,index=['a','b','c','d'])
c

a    0
b    1
c    2
d    3
dtype: int64

# Indexing

In [11]:
aa

0     ganga
1    yamuna
2      neil
3    brazos
dtype: object

In [12]:
aa[1] #---- implicit index

'yamuna'

In [13]:
c['a'] # ---- explicit index

0

In [14]:
cc = pd.Series(rivers,index=['101','102','103','104'])
cc

101     ganga
102    yamuna
103      neil
104    brazos
dtype: object

In [15]:
print(cc['102'])

print(cc[0])

yamuna
ganga

In [16]:
newa[:'c']

a     ganga
b    yamuna
c      neil
dtype: object

In [17]:
newa[::-1]

d    brazos
c      neil
b    yamuna
a     ganga
dtype: object

In [18]:
brics_country=['China', 'India', 'Brazil','Russia', 'South Africa'] #----index
brics_currecny=['Renminbi','Rupee','Real','Ruble','Rand']  #------value

In [19]:
country_curr = pd.Series(brics_currecny,index=brics_country)
country_curr

China           Renminbi
India              Rupee
Brazil              Real
Russia             Ruble
South Africa        Rand
dtype: object

In [20]:
country_curr.values

array(['Renminbi', 'Rupee', 'Real', 'Ruble', 'Rand'], dtype=object)

In [21]:
country_curr.index

Index(['China', 'India', 'Brazil', 'Russia', 'South Africa'], dtype='object')

# Dataframe

In [22]:
empty_df=pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

In [23]:
brics_country=['China', 'India', 'Brazil','Russia', 'South Africa'] #----index
c_df=pd.DataFrame(brics_country)

In [24]:
c_df

              0
0         China
1         India
2        Brazil
3        Russia
4  South Africa

In [25]:
c_df.shape

(5, 1)

In [26]:
c_df.ndim

2

In [27]:
# Pass column name
brics_country=['China', 'India', 'Brazil','Russia', 'South Africa'] #----index
c_df=pd.DataFrame(brics_country,columns=['Country'])
c_df

        Country
0         China
1         India
2        Brazil
3        Russia
4  South Africa

In [28]:
data = list(zip(brics_country,brics_currecny))
data

[('China', 'Renminbi'),
 ('India', 'Rupee'),
 ('Brazil', 'Real'),
 ('Russia', 'Ruble'),
 ('South Africa', 'Rand')]

In [29]:
new_c=pd.DataFrame(data)
new_c

              0         1
0         China  Renminbi
1         India     Rupee
2        Brazil      Real
3        Russia     Ruble
4  South Africa      Rand

In [30]:
new_c=pd.DataFrame(data,columns=['country','currency'])
new_c

        country  currency
0         China  Renminbi
1         India     Rupee
2        Brazil      Real
3        Russia     Ruble
4  South Africa      Rand

In [31]:
# Creating dataframe as dic
data={'a':[2,5],'b':[3,4],'c':[5,6]}
df = pd.DataFrame(data)
df

   a  b  c
0  2  3  5
1  5  4  6

In [32]:
#create df from file
country_df = pd.read_csv('dataset/population_by_country_2020.csv')
country_df

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [33]:
xl_df = pd.read_excel('dataset/football_worldcup.xlsx',sheet_name=0)
xl_df

   Year       Country    Winner   Runners-Up  GoalsScored  MatchesPlayed
0  1990         Italy  Germany     Argentina          115             52
1  1994           USA    Brazil        Italy          141             52
2  1998        France    France       Brazil          171             64
3  2002         Japan    Brazil      Germany          161             64
4  2006       Germany     Italy       France          147             64
5  2010  South Africa     Spain  Netherlands          145             64
6  2014        Brazil   Germany    Argentina          171             64

In [34]:
xl_df.shape

(7, 6)

In [35]:
a,b =xl_df.shape

In [36]:
xl_df.head()

   Year  Country    Winner Runners-Up  GoalsScored  MatchesPlayed
0  1990    Italy  Germany   Argentina          115             52
1  1994      USA    Brazil      Italy          141             52
2  1998   France    France     Brazil          171             64
3  2002    Japan    Brazil    Germany          161             64
4  2006  Germany     Italy     France          147             64

In [37]:
xl_df.head(10)

   Year       Country    Winner   Runners-Up  GoalsScored  MatchesPlayed
0  1990         Italy  Germany     Argentina          115             52
1  1994           USA    Brazil        Italy          141             52
2  1998        France    France       Brazil          171             64
3  2002         Japan    Brazil      Germany          161             64
4  2006       Germany     Italy       France          147             64
5  2010  South Africa     Spain  Netherlands          145             64
6  2014        Brazil   Germany    Argentina          171             64

In [38]:
country_df.head(20)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
5,Brazil,212821986,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
6,Nigeria,206984347,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
7,Bangladesh,164972348,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
9,Mexico,129166028,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
10,Japan,126407422,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
11,Ethiopia,115434444,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
13,Egypt,102659126,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
14,Vietnam,97490013,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
15,DR Congo,90003954,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
16,Turkey,84495243,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
17,Iran,84176929,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
18,Germany,83830972,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
19,Thailand,69830779,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [39]:
country_df.tail(20)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
215,Saint Martin,38778,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
216,Liechtenstein,38147,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
217,San Marino,33944,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
218,Gibraltar,33689,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
219,British Virgin Islands,30266,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
220,Caribbean Netherlands,26265,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
221,Palau,18109,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
222,Cook Islands,17567,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
223,Anguilla,15026,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
224,Tuvalu,11817,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
225,Wallis & Futuna,11203,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
226,Nauru,10836,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
227,Saint Barthelemy,9882,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
228,Saint Helena,6080,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
229,Saint Pierre & Miquelon,5789,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [40]:
country_df.columns

Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

In [43]:
country_df['Population (2020)']

0      1440297825
1      1382345085
2       331341050
3       274021604
4       221612785
          ...
230          4993
231          3497
232          1628
233          1360
234           801
Name: Population (2020), Length: 235, dtype: int64

In [44]:
type(country_df['Population (2020)'])

pandas.core.series.Series

In [82]:
df = pd.read_csv('dataset/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
df.temperature[3:6]

3    24
4    32
5    31
Name: temperature, dtype: int64

In [51]:
df.describe

<bound method NDFrame.describe of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [53]:
df.max()

day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object

In [60]:
df.temperature.max()

# or 

df.max()['temperature']

35

In [61]:
df.min()

day            1/1/2017
temperature          24
windspeed             2
event              Rain
dtype: object

In [62]:
df.windspeed.min()

2

In [64]:
df.mean()

temperature    30.333333
windspeed       4.666667
dtype: float64

In [65]:
df.median()

temperature    31.5
windspeed       5.0
dtype: float64

In [66]:
df.mode()

        day  temperature  windspeed  event
0  1/1/2017         32.0        2.0   Rain
1  1/2/2017          NaN        7.0   Snow
2  1/3/2017          NaN        NaN  Sunny
3  1/4/2017          NaN        NaN    NaN
4  1/5/2017          NaN        NaN    NaN
5  1/6/2017          NaN        NaN    NaN

In [71]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [74]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [80]:
df.describe(include='all')

             day  temperature  windspeed event
count          6     6.000000   6.000000     6
unique         6          NaN        NaN     3
top     1/3/2017          NaN        NaN  Rain
freq           1          NaN        NaN     2
mean         NaN    30.333333   4.666667   NaN
std          NaN     3.829708   2.338090   NaN
min          NaN    24.000000   2.000000   NaN
25%          NaN    28.750000   2.500000   NaN
50%          NaN    31.500000   5.000000   NaN
75%          NaN    32.000000   6.750000   NaN
max          NaN    35.000000   7.000000   NaN

In [84]:
df_dict = {'Year' : [1990, 1994, 1998, 2002],
'Country' : ['Italy', 'USA', 'France', 'Japan'],
'Winner' : ['Germany', 'Brazil', 'France', 'Brazil'],
'GoalScored' : [115, 141, 171, 161]
} 
pd.DataFrame(df_dict)

   Year Country   Winner  GoalScored
0  1990   Italy  Germany         115
1  1994     USA   Brazil         141
2  1998  France   France         171
3  2002   Japan   Brazil         161

In [86]:
df_tuple = [(1990, 1994, 1998, 2002),
('Italy', 'USA', 'France', 'Japan'),
('Germany', 'Brazil', 'France', 'Brazil'),
(115, 141, 171, 161),
] 
pd.DataFrame(df_tuple)

         0       1       2       3
0     1990    1994    1998    2002
1    Italy     USA  France   Japan
2  Germany  Brazil  France  Brazil
3      115     141     171     161