In [1]:
import pandas as pd

In [2]:
df2 = pd.DataFrame([('parrot',   24.0, 'second'),
                    ('lion',     80.5, 1),
                    ('monkey', np.nan, None)],
                   columns=('name', 'max_speed', 'rank'))

In [3]:
df2

     name  max_speed    rank
0  parrot       24.0  second
1    lion       80.5       1
2  monkey        NaN    None

In [4]:
s = pd.Series([-1.10, 2, -3.33, 4])
s.abs()

0    1.10
1    2.00
2    3.33
3    4.00
dtype: float64

In [9]:
df = pd.DataFrame({
    'a': [4, 5, 6, 7],
    'b': [10, 20, 30, 40],
    'c': [100, 50, -30, -50]
})

df.loc[(df.c - 43).abs().argsort()]

   a   b    c
1  5  20   50
0  4  10  100
2  6  30  -30
3  7  40  -50

In [12]:
df = pd.DataFrame({'angles': [0, 3, 4],

                   'degrees': [360, 180, 360]},

                  index=['circle', 'triangle', 'rectangle'])

In [14]:
df + 1

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [15]:
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [16]:
df.sub([1,2])

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(7, "watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']

In [13]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits] 
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [16]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [19]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [23]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [29]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, tropic, *red) = fruits

print(green)
print(tropic)
print(red)

apple
mango
['papaya', 'pineapple', 'cherry']

In [31]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya","banana"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'mango', 'papaya', 'pineapple', 'apple'}

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [40]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"
car["color2"] = "red2"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red'), ('color2', 'red2')])

In [41]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [42]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [43]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [45]:
txt = "The rain in Spain"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [52]:
import re

txt = "The rain in Spain"
x = re.sub("\s","9", txt)
print(x)

The9rain9in9Spain

In [55]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [60]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [61]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [62]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64