### import all the important libraries

In [1]:
import pandas as pd
import numpy as np

### load the dataset using pandas

In [3]:
dl_data = pd.read_csv('chipotle.tsv', sep="\t")

In [5]:
dl_data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
dl_data.tail(7)

,order_id,quantity,item_name,choice_description,item_price
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [9]:
dl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
dl_data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
dl_data.index

RangeIndex(start=0, stop=4622, step=1)

In [49]:
# Which was the most ordered item? and How many items were ordered?
dl_order = dl_data.groupby('item_name').sum()
c = dl_order.sort_values('quantity', ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [56]:
# What was the most ordered item in the choice_description column?
dl_cho = dl_data.groupby('choice_description').sum()
dl_cho.sort_values(['quantity'], ascending=False)
dl_cho.head(1)

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1

In [62]:
dl_data.item_price.dtype

dtype('O')

In [65]:
dl_data.item_price = dl_data.item_price.apply(lambda x: float(x[1:-1]))

In [66]:
dl_data.item_price.dtype

dtype('float64')